.flex-div{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
}
.flex-div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.t-tag{
    font-size: 80px;
    font-weight: bold;
    text-align: center;

}
.paragraph{
    font-size: 40px;
    margin-top: 5px;
    text-align: center;
}
.doctor-container {
    display: flex;
    background-color: #020f2bf8;
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 60px;
    width: 100%;
  }
  
  .column {
    flex: 1;
    padding: 0 15px;
  }
  
  .section-title {
    text-align: center;
  }
  .section-button{
    text-align: center;
  }
  .cta-satisfied{
    text-align: center;
  }
  
  .section-title h5 {
    font-size: 20px;
    margin-bottom: 3px;
    padding-right: 450px;
    color: #8f8f8f;
  }
  
  .section-title h1 {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
  }
  .span{
    border-radius: 60%;
    background-color: white;
    color: black;
    font-size: 25px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;
  }
  
  .section-button a {

    display: inline-block;
    padding: 30px ;
    background-color: #ff00b3;
    color: #fff;
    font-size: 25px;
    padding-right: 40px;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 80px;
    font-weight: bold;
  }
  
  .cta-satisfied .single-satisfied h1 {
    font-size: 50px;
    color: rgb(2, 121, 55);
  }
  
  .cta-satisfied .single-satisfied h5 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .cta-satisfied .single-satisfied p {
    font-size: 22px;
    color: #8f8f8f;
  }
  .slider-div{
    display: flex;
    gap: 1.25rem;
    margin-top: 30px;
    justify-content: center;
  }
  .button-left {
    background-color: #d5f2ec;
    color: #020f2bf8;
    padding: 8px 16px; 
    border-radius: 8px; 
    margin-bottom: 50px;
  }
  
  .button-left:hover {
    background-color: #ade9dc;
  }
  
  .button-left:active {
    background-color: #ade9dc; 
  }
  
  .image{
    height: 14rem; 
  border-top-left-radius: 1rem; 
  border-top-right-radius: 1rem; 
  width: 100%; 
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .name-container {
    font-weight: 600;
    font-size: 1.25rem; 
    padding-top: 1rem; 
  }
  
  .specialties-container {
    padding-top: 0.5rem;
  }
.doctor-card {
  cursor: pointer;
  transition: transform 0.2s;
}

.doctor-card:hover {
  transform: scale(1.05);
}
/* CustomButton.css */
.custom-button {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the link look like a button */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 8px; /* Rounded corners */
}

.custom-button:hover {
  background-color: #45a049; /* Darker green */
}

.div-button2{
  justify-content:center;
  align-items: center;
}
.chat-button{
  display: inline-block;
      padding: 20px ;
      background-color: #020f2bf8;
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      border-radius: 50px;
      margin-top: 80px;
      margin-bottom: 80px;
  }