.footer {
  background-color: #191931;
  padding: 18px 0;
  font-family: emoji;
  color: white;
  }
  
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  
  .footer_item {
    margin-bottom: 30px;
  }
  
  .footer_item h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #333;
  }
  
  .footer_item p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .footer_item ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer_item ul li {
    margin-bottom: 5px;
  }
  
  .footer_item ul li a {
    color: #333;
    text-decoration: none;
  }
  
  .footer_item ul li a:hover {
    color: #007bff;
  }
  
  .social_icons {
    display: flex;
    padding: 0;
  }
  
  .social_icons li {
    margin-right: 10px;
  }
  
  .social_icons li:last-child {
    margin-right: 0;
  }
  
  .social_icons a {
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .social_icons a:hover {
    color: #007bff;
  }
  
  .footer_bottom {
    background-color: #dee2e6;
    padding: 15px 0;
    text-align: center;
  }
  
  .footer_bottom p {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
  }
  