/* AddMedicinePopup.module.css */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px; /* Initial width */
}

@media (max-width: 768px) {
  .popupContent {
    width: 90%; /* Adjusted width for smaller screens */
    max-width: 90%; /* Ensure it doesn't exceed the screen width */
  }

  .form-control {
    width: 100%; /* Ensure form inputs take full width */
  }
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.saveBtn {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.cancelBtn {
  background-color: #f44336; /* Red */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
