/* MedGrid.module.css */

.tableContainer {
  margin: 20px;
  overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
}

.addButton {
  margin-bottom: 20px;
  float: right;
}

.editButton {
  margin: 5px;
}

.buttonIcon {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .tableContainer {
    margin: 10px;
  }
  .table {
    font-size: 14px; /* Reduce font size for smaller screens */
  }
  .addButton {
    margin-bottom: 10px; /* Adjust margin for the add button */
  }
  .editButton,
  .deleteButton {
    padding: 5px; /* Adjust padding for edit and delete buttons */
    font-size: 12px; /* Reduce font size for smaller buttons */
  }
}
