.doctor-profile {
  text-align: center; /* Center align text */
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 800px; /* Optional: To limit the width of the content */
  padding: 20px;
  background-color: #f9f9f9; /* Optional: Background color for the profile section */
  border-radius: 10px; /* Optional: Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for better appearance */
}

.doctor-profile h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333; /* Optional: Text color */
}

.doctor-profile p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #666; /* Optional: Text color */
}

.image-doc {
  margin: 20px 0; /* Margin around the image container */
  width: 200px; /* Fixed width for the image container */
  height: 200px; /* Fixed height for the image container */
  overflow: hidden; /* Hide overflow if the image is larger */
  border-radius: 50%; /* Optional: Make the image container circular */
  margin: 0 auto; /* Center the image container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for better appearance */
}

.image-doc img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
  border-radius: 50%; /* Optional: Make the image circular if the container is circular */
}
.custom-button3{
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 30px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the link look like a button */
  font-size: 15px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 50px; /* Rounded corners */
  }
  
  .custom-button3:hover {
  background-color: #45a049; /* Darker green */
  }
  .div-button2{
    justify-content:center;
    align-items: center;
    margin-top: 30px;
    }
    .chat-button{
    display: inline-block;
        padding: 20px ;
        background-color: #020f2bf8;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        border-radius: 50px;
        margin-top: 30px;
        margin-bottom: 80px;
    }
    .chat-button:hover{
      background-color: #45a049;
    }
