/* PharmacyGrid.module.css */

.tableContainer {
  margin: 20px; /* Adjust margin for spacing */
  padding: 20px; /* Add padding for better spacing */
  overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
}

.addButton {
  margin-bottom: 20px;
  float: right;
}

.table {
  width: 100%;
  overflow: hidden; /* Hide overflow for cleaner table display */
}

.table th,
.table td {
  white-space: nowrap; /* Prevent wrapping of table cells */
}

.editButton {
  margin: 5px;
}

.buttonIcon {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .tableContainer {
    margin: 20px;
    padding: 10px;
    overflow-x: auto;
  }

  .addButton {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }

  .table th,
  .table td {
    padding: 8px;
    font-size: 14px;
  }
}
