.container{
    width: 100%;
    background-color: #374a85;
    height: 340px;
    margin-top: 152px;
}
.head3{
    color: white;
    font-family: cursive;
    margin-left: 290px;
    padding-top: 28px;;
}
.head1{
    margin-top: 44px;
    color: white;
    font-family: cursive;
    margin-left: 290px;
    font-size: xxx-large;
    width: 800px;

}
