.container{
    background-color: rgb(126 144 195);
    height: 340px;
}
.head3{
    color: white;
    font-family: cursive;
    margin-left: 290px;
    padding-top: 18px;
    /* width: 800px; */
    font-size: xxx-large;
    margin-right: 290px;
    padding-bottom: 18px;
}
.head1{
    margin-top: 30px;
    color: white;
    font-family: cursive;
    margin-left: 290px;
    margin-bottom: 30px;
    margin-right: 290px;
    font-size: 46px;
    width: 600px;
}

.container , .ButtonHere{
display: flex;
flex-direction: row;
}

.divii{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: -32px;
    margin-left: -32px;
    width: 1080px;
}

.ButtonHere{
    margin:150px auto;
   }



.mbutton{
    height: 55px;
    width: 286px;
    border-color: transparent;
    font-size: x-large;
    border-radius: 15px;
    background-color: #32ca0b;
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.micon{
    margin: 9px;
    
}