.container{
    background-color: rgb(126 144 195);
    height: 340px;
}
.head3{
    color: white;
    font-family: cursive;
    margin-left: 290px;
    padding-top: 18px;
    width: 800px;
    font-size: xxx-large;
    margin-right: 290px;
    padding-bottom: 18px;
}
.head1{
    margin-top: 30px;
    color: white;
    font-family: cursive;
    margin-left: 290px;
    font-size: xxx-large;
    width: 800px;
    margin-bottom: 30px;
    margin-right: 290px;
}

.container , .ButtonHere{
display: flex;
flex-direction: row;
}

.divii{
    margin-left: 70px;
    margin-right: -32px;
    margin-left: -32px;
}

.ButtonHere{
    margin:150px auto;
}

.mbutton{
    height: 55px;
    width: 286px;
    border-color: transparent;
    font-size: x-large;
    border-radius: 15px;
    background-color: #32ca0b;
    color: white;    
}

.icon{
    margin-right: 6px;
    height: 54px;  
}
