nav{
        display: flex;
        justify-content: space-between;
        height: 72px;
        align-items: center;
        font-size: xx-large;
        background-color:white;
        color: black;
}

  nav ul {
    display: flex;
    gap: 43px;
    list-style-type: none;
    font-weight: 500;
  }

  button{
    border-radius: 46px;
    /* size: 112px; */
    font-size: large;
    align-self: normal;
    width: 255px;
    border-color: transparent;
    color: white;
    background: green;
    
  }
  .icon{
    height: 1.5em;
    width: 2em;
  }
  