/* Navbar.module.css */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    background: linear-gradient(357deg, #4a8fc4, #ffffff);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul {
  display: flex;
  gap: 53px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: x-large;
  box-sizing: border-box;
  font-family: cursive;
  color: white;
  font-weight: 800;
}

.navbar-item {
  position: relative;
}

.navbar-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.navbar-item a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background on hover */
}

.btn-primary.btn-lg{
  height: 46px;
  width: 160px;
  border-radius: 30px; /* Round button corners */
  margin-left: 24px;
  margin-top: -14px;
  font-weight: bold;
  background-color: #ffffff;
  color: #9686da; /* Button color */
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-primary.btn-lg:hover {
  transform: scale(1.05); /* Scale button on hover */
}

.logo {
  display: flex;
  align-items: center;
}

.nav_img {
  height: 47px;
  margin-right: 20px;
  margin-top: -9px;
  margin-right: 14px;
}

.nav_head {
  font-size: 2.5rem;
  margin-left: -12px;
  color: #2351a4;
  font-family: cursive;
  margin-bottom: 1px;
  font-weight: 800;
  font-size: xx-large;
}
