.card-body2{
    display: flex;
    flex-direction: column ;
    background-color: #d5f2ec;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    cursor:  pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0) ;
    transition: transform 0.25s ease-out;
}
.card-body2:hover{
  transform: scale(1.05);
}
.doctor-image {
    height: 500px; 
    object-fit: cover;
  }