/*doctorsearch.jsx*/
.doctor-search-container {
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;
  }
  .doctor-search-background1{
  width: 100%;
  text-align: center;
  background-color:#d5f2ec;
  padding: 20px;
  position: relative; 
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .doctor-list-wrapper {
    width: 100%;
  }
  .select-search{
    padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-right: 10px;
  margin-bottom: 20px;
  outline: none;
  transition: border-color 0.3s;
  }
  .select-search:focus{
    border-color: #007bff;
  background-color: #fff;
  }
  select-search option {
    padding: 10px;
  }