.container{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}

.logo{
    margin: 100px;
    padding: 68px;
}

.experience{
    margin: 100px;
    padding: 68px;
}

.story{
    margin: 100px;
    padding: 68px;
}