
.container{
  margin: 0 auto;
  width: 900px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.logo, .experience , .story{
  margin: 10px; 
  height: 100px !important;
}

.story_p{
  padding: 30px;
  text-align: justify;
  font-size: large;
}
.divimg{
  padding-top: 31px;
  padding-right: 30px;
}
.ehead1{
  font-size: 58px
}

.eimg{
  height: 131px;
    padding-top: 30px;
}



