/* Add this CSS to your global stylesheet or within a CSS file that is applied to the Experience component */

.container {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .logo,
  .experience,
  .story {
    flex: 1; /* Distribute remaining space evenly */
    
  }
  
  .logo { 
    padding-left: 172px;
    height: 71px;
  }
  
  .experience {
    /* Add styles for the experience */
  }
  
  .story {
    /* Add styles for the story */
  }
  