
.container{
  margin: 0 auto;
  width: 900px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.logo, .experience , .story{
  margin: 10px; 
  height: 100px !important;
}

.story_p{
  padding: 30px;
    text-align: justify;
    font-size: large;
}
.divimg{
  padding-top: 46px;
}
.head1{
  
}

.eimg{
  height: 94px;
    padding-top: 30px;
}



