/* src/components/MedicineCard.css */
.medicine-image {
  height: 250px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* src/components/SearchMedicine.module.css */
.medicine-image {
  height: 75%;
  object-fit: cover;
}

.card-title .faPills, 
.card-text .faStore, 
.card-text .faMapMarkerAlt, 
.card-text .faStar {
  margin-right: 8px;
}

.text-warning {
  color: #ffc107 !important;
}

.text-muted {
  color: #e4e5e9 !important;
}

