.carouselContainer {
  max-width: 100%;
  margin: 0 auto;
}

.carouselImage {
  max-height: 60vh; /* Adjust height for smaller screens */
  object-fit: cover;
}

.carouselCaption {
  text-align: center;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better contrast */
  padding: 20px;
  color: #fff;
}

.sliders_h {
  font-size: 2.5rem;
  font-weight: bold;
}

.sliders_p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .sliders_h {
    font-size: 2rem;
  }

  .sliders_p {
    font-size: 1.2rem;
  }
}
