.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}
.dhead1{
  padding-left: 420px;
  padding-right: 420px;
}
.profile_image_container {
  text-align: center;
  margin-bottom: 20px;
}
.upload_label {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}
.form_group {
  margin-bottom: 15px;
}

.form_group label {
  display: block;
  margin-bottom: 5px;
}

.form_group input[type="text"],
.form_group textarea,
.form_group input[type="number"],
.form_group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form_group textarea {
  height: 100px;
}
.submit_btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit_btn:hover {
  background-color: #0056b3;
}