/* PharmacyGrid.module.css */

.tableContainer {
    margin: 150px;
  }
  .addButton {
    margin-bottom: 20px; /* Add margin to the right of the button */
    float: right; /* Float the button to the left */
  }
  
.editButton{
  margin: 5px;
}
.buttonIcon{
  margin-bottom: 5px;
  
}
  