.button{
    color: white;               
    border-radius: 5px;       
    border: none;             
    cursor: pointer;
    font-size: 20px;
    width: 100%; /* Make button full width */
    padding: 20px; /* Add padding to button */
    background-color: #ff00b3; /* Button background color */
    margin-top: 20px;
    margin-bottom: 0;
}
.button:hover {
    background-color: #0056b3; /* Button background color on hover */
  }