/* Define keyframes for the animation */
@keyframes countUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animation to the elements */
.explanationi-animation {
  animation: countUp 0.5s ease-out;
}

.explanationi {
  font-size: xxx-large;
  font-weight: 700;
  margin-left: 30px;
}

.explanationii {
  color: green;
  font-size: larger;
  font-style: italic;
  margin-top: -12px;
  margin-left: 30px;
}

.explanationiii {
  text-align: justify;
  margin-right: 23px;
}
